* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #faf9f9;
    color: black;
    /* CENTRER AU MILIEU DE LA PAGE */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ddd;
}


h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background-color: #fffdfd;
    border: 1px solid #444;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

input::placeholder {
    color: #888;
}

button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #0095f6;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0084e0;
}